body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  overflow: auto;
}

/* background image*/
.bgimg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/budget_list2.jpg");
}

.awimg {
  background-image: url("../images/alert_background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-pic{
  width:20%;
}

.header{
  height: 10%;
  width: 100%;
  background-color: #5b9291;
}

.header-text{
  width:80%;
  float: right;
}

.footer{
  height: 10%;
  width: 100%;
  float: right;
  position: absolute;
  bottom: 0;
  background-color: #5b9291;
}

.display{
  height:560px;
  width:100%;
  float: right;
}

.side-bar{
  height:80%;
  width:20%;
  position: absolute;
  bottom: 10%;
}
.menu-option{
  text-shadow:1px 1px 0 #444;
  font-weight: bold;
  color: indigo;
}

.inline-text{
  display: inline;
}

.alignright{
  float:right;
}
.alignleft{
  float:left;
}
.aligncenter{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.onhover{
  cursor:pointer;
}

.btn-size{
  font-size: 20px;
}

#login{
  width:40%;
  padding-top: 100px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-text{
  position: absolute;
  width:40%;
  height:auto;
  top: 40%;
  left: 50%;
  font-size: 15px;
  padding: 20px;
  color: #024F67;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#overlay-text-save-cancel{
  text-align: center;
  position: absolute;
  width:45%;
  height:35%;
  top: 40%;
  left: 50%;
  font-size: 20px;
  padding: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

th{
  font-weight: bold;
  font-size: 17px;
  color: #02674C;
}

.td-total{
  font-size: 18px;
  color: #024F67;
}

#budget-table{
}


input[type=text]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  color:#424c53;
}

/* Style the label to display next to the inputs */
label {
  padding-left: 12px;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: grey;
  color: white;
  padding: 5px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:35%;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Turn off parallax scrolling for tablets and phones */

}
